<script context="module">
  /**
   * Preload page JSON from database
   */
  export function preload({ params }) {
    return this.fetch(`${params.page}.json`)
      .then((response) => {
        return response.json().then((data) => {
          if (response.status === 200) {
            return {
              page: data,
              slug: params.page
            };
          }

          this.error(response.status, data.message);
        });
      })
      .catch((error) => this.error(error));
  }
</script>

<script>
  export let page;
  export let slug;
</script>

<svelte:head>
  <title>{page.title}</title>
</svelte:head>

<a rel="prefetch" href="admin/pages">Pages</a>
<a rel="prefetch" href={`admin/pages/edit/${slug}`}>Edit</a>

{@html page.content}
