<script context="module">
  /**
   * Preload page JSON from database
   */
  export function preload() {
    return this.fetch(`admin/pages.json`)
      .then((response) => {
        return response.json().then((data) => {
          if (response.status === 200) {
            return {
              pages: data
            };
          }

          this.error(response.status, data.message);
        });
      })
      .catch((error) => this.error(error));
  }
</script>

<script>
  export let pages;
</script>

<style>
</style>

<svelte:head>
  <title>Pages</title>
</svelte:head>

<h1>Page</h1>

<a rel="prefetch" href="admin/pages/edit/_new">New Page</a>

{#if pages}
  <ul>
    {#each pages as item}
      <li>
        <a rel="prefetch" href={`admin/pages/${item._id}`}>{item.title}</a>
        <a rel="prefetch" href={`admin/pages/edit/${item._id}`}>Edit</a>
      </li>
    {/each}
  </ul>
{/if}
