<script context="module">
  /**
   * Preload page JSON from database
   */
  export function preload({ params }) {
    return this.fetch(`${params.page}.json`)
      .then((response) => {
        return response.json().then((data) => {
          if (response.status === 200) {
            return {
              page: data
            };
          }

          this.error(response.status, data.message);
        });
      })
      .catch((error) => this.error(error));
  }
</script>

<script>
  export let page;
</script>

<style>
  article {
    padding: 0.2rem 1.5rem 0.2rem 1rem;
  }
</style>

<svelte:head>
  <title>{page.title}</title>
</svelte:head>

<article>
  {@html page.content}
</article>
