<script context="module">
  /**
   * Preload menu items
   */
  export function preload() {
    return this.fetch('config.json').then((response) => {
      return response
        .json()
        .then((config) => {
          if (response.status === 200) {
            return { config };
          }

          this.error(response.status);
        })
        .catch((error) => {
          this.error(error);
        });
    });
  }
</script>

<script>
  import Header from '../components/Header.svelte';
  import Footer from '../components/Footer.svelte';
  import IconSet from '../components/IconSet.svelte';
  import 'highlight.js/styles/a11y-light.css';

  export let segment;
  export let config;
</script>

<style>
  main {
    position: relative;
    max-width: 80ch;
    margin: 0 auto;
    box-sizing: border-box;
  }
</style>

<IconSet />
<Header {segment} {config} />
<main>
  <slot />
</main>

<Footer {config} />
