<script context="module">
  /**
   * Preload Article data
   */
  export function preload({ params }) {
    if (params.slug === '_new') {
      return { slug: params.slug };
    }

    return this.fetch(`admin/object/${params.slug}`)
      .then((r) => r.json())
      .then((data) => ({ slug: params.slug, post: data }));
  }
</script>

<script>
  import { goto } from '@sapper/app';
  import TagsEditor from '../../../../components/admin/TagsEditor.svelte';
  import TextEditor from '../../../../components/admin/TextEditor.svelte';
  import { toDatetimeLocal } from '../../../../lib/date';
  import fm from 'front-matter';

  export let slug;
  export let post;
  let error = null;
  let createdSlug = null;

  let oldName = null;
  let dropper;
  let contentEditor;

  const newPost = () => {
    post = {
      type: 'Article',
      draft: false,
      description: '',
      slug: '',
      name: '',
      content: '',
      published: null,
      tags: null,
      keywords: null,
      summary: null
    };
  };

  if (!post) {
    newPost();
  } else {
    oldName = post.name;
    if (post.published) {
      post.published = toDatetimeLocal(post.published);
    }
    if (post.keywords?.join) {
      post.keywords = post.keywords.join(', ');
    }
  }

  const setFromMarkdown = (markdown, slug) => {
    const matter = fm(markdown);
    newPost();
    if (matter.attributes) {
      if (matter.attributes.title) {
        post.name = matter.attributes.title;
      }
      if (matter.attributes.date) {
        const date = new Date(matter.attributes.date);
        if (!isNaN(date.getTime())) {
          post.published = date.toISOString();
        } else {
          console.error('Could not parse date', matter.attributes.date);
        }
      }
      if (matter.attributes.extract) {
        post.summary = matter.attributes.extract;
      }
      if (matter.attributes.tags) {
        if (Array.isArray(matter.attributes.tags)) {
          post.tags = matter.attributes.tags.map((t) => t.toLowerCase());
        } else {
          post.tags = matter.attributes.tags.toLowerCase();
        }
      }
      if (matter.attributes.slug) {
        post.slug = matter.attributes.slug;
      } else if (slug) {
        post.slug = slug;
      }
    }
    post.content = matter.body;
    dropper.style.display = '';
  };

  const pasteContent = (event) => {
    if (event.target !== contentEditor) {
      return;
    }
    if (event.defaultPrevented) {
      return;
    }

    // Prevent the default pasting event and stop bubbling
    event.preventDefault();
    event.stopPropagation();

    // Get the clipboard data
    let paste = (event.clipboardData || window.clipboardData).getData('text');
    if (paste) {
      setFromMarkdown(paste);
    }
  };

  const dropContent = (event) => {
    if (event.defaultPrevented) {
      return;
    }

    event.preventDefault();
    if (event.dataTransfer && event.dataTransfer.items) {
      for (let i = 0; i < event.dataTransfer.items.length; i++) {
        const item = event.dataTransfer.items[i];

        if (item.kind === 'file' && item.type === 'text/markdown') {
          const file = item.getAsFile();
          const slug = file.name.replace(/\.md$/, '');
          const reader = new FileReader();
          reader.addEventListener('loadend', () => {
            setFromMarkdown(reader.result, slug);
          });
          reader.readAsText(file);
          break;
        }
      }
    }
  };

  const handleDrag = (event) => {
    dropper.style.display = 'block';
    event.preventDefault();
  };

  const handleDragEnd = () => {
    dropper.style.display = '';
  };

  const handleDragExit = (event) => {
    if (event.target === dropper) {
      dropper.style.display = '';
    }
  };

  const clean = ['summary', 'tags', 'published'];

  const save = () => {
    if (!post.slug) {
      alert('Need a slug');
      return;
    }
    clean.forEach((value) => {
      if (!post[value]) {
        delete post[value];
      }
    });
    if (!post.name) {
      alert('Put a name on it');
      return;
    }
    // Ensure date is formatted as a ISO8601 string
    if (post.published) {
      post.published = new Date(post.published).toISOString();
    }

    if (post.keywords) {
      post.keywords = post.keywords.split(/ *, */);
    }

    const options = {
      method: 'PATCH',
      headers: {
        'content-type': 'application/json'
      },
      body: JSON.stringify(post)
    };
    let url = `admin/object/${slug}`;

    if (slug === '_new') {
      options.method = 'PUT';
      url = 'admin/object';
    }

    fetch(url, options).then((response) => {
      createdSlug = null;
      error = null;
      if (response.status < 200 || response.status >= 300) {
        error = 'There has been an error saving: ' + response.statusText;
        return;
      }

      if (response.headers.get('content-type') === 'application/json') {
        response.json().then((data) => {
          if (slug === '_new') {
            createdSlug = data.slug;
            newPost();
          } else {
            goto(`admin/c/${slug}`);
          }
        });
      }
    });
  };
</script>

<style>
  .form {
    position: relative;
    padding: 1rem;
  }

  .dropper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
  }

  div.editor {
    border: solid 1px;
    padding: 1rem;
    font-family: monospace;
  }

  div.editor h1,
  div.editor h2,
  div.editor h3,
  div.editor h4,
  div.editor h5,
  div.editor h6 {
    margin: 0;
  }

  div.contentEditor {
    min-height: 200px;
  }

  div.summaryEditor {
    min-height: 100px;
  }

  label {
    display: block;
  }

  .error {
    color: #f00;
    padding: 1rem;
  }

  .success {
    color: #090;
    padding: 1rem;
  }

  .success a {
    margin: 0 0.5rem;
  }
</style>

<h1>
  {#if slug === '_new'}Create a new Article{:else}Edit "{oldName}"{/if}
</h1>

<div
  class="form"
  on:paste={pasteContent}
  on:dragover={handleDrag}
  on:drop={dropContent}
  on:dragend={handleDragEnd}
  on:dragexit={handleDragExit}>
  <div class="dropper" bind:this={dropper} />
  <label> Slug: <input bind:value={post.slug} /> </label>

  <label> Title: <input bind:value={post.name} /> </label>

  <label>
    Tags:
    <TagsEditor bind:value={post.tags} />
  </label>

  <label> Metadata Keywords: <input bind:value={post.keywords} /> </label>

  <div>
    Metadata Description:
    <TextEditor bind:value={post.description} />
  </div>

  <label>
    Time:
    <input type="datetime-local" bind:value={post.published} />
  </label>

  <label> Draft: <input type="checkbox" bind:checked={post.draft} /> </label>

  <div>
    Summary:
    <TextEditor bind:value={post.summary} />
  </div>

  <div>
    Content:
    <TextEditor bind:value={post.content} bind:editor={contentEditor} />
  </div>
</div>

{#if error}
  <div class="error">{error}</div>
{/if}

{#if createdSlug}
  <div class="success">
    Last article ({createdSlug}) created successfully.
    <a href="admin/c/{createdSlug}">View</a>
    <a href="admin/c/edit/{createdSlug}">Continue editing</a>
  </div>
{/if}

<button on:click={save}>Save</button>
