<script>
  import { afterUpdate, onMount } from 'svelte';
  import linesGallery from 'lines-gallery';
  import TagList from '../TagList.svelte';

  export let object;
  export let expanded;
  export let feedUrl;
  export let tag;

  let article;

  afterUpdate(() => {
    if (expanded) {
      const box = article.getBoundingClientRect();

      const header = document.getElementById('header');
      const headerBox = header.getBoundingClientRect();

      const height = window.innerHeight - headerBox.height;

      if (box.height < height) {
        // Scroll to middle
        setTimeout(() => {
          window.scroll({
            top: Math.round(
              window.scrollY +
                box.top -
                headerBox.height -
                (height - box.height) / 2
            ),
            behavior: 'smooth'
          });
        }, 0);
      } else {
        // Scroll to top
        setTimeout(() => {
          window.scroll({
            top: Math.round(window.scrollY + box.top - headerBox.height),
            behavior: 'smooth'
          });
        }, 0);
      }
    }
  });

  onMount(() => {
    // Detect lines-gallery divs
    const galleries = article.querySelectorAll('div.gallery');

    if (galleries.length) {
      galleries.forEach((gallery) => {
        linesGallery(gallery, null, {
          imageMargin: 10,
          resizeImages: true,
          minImageSize: 100
        });
      });
    }
  });
</script>

<style>
  article > h2 {
    margin: 0;
  }

  article > summary {
    font-style: italic;
  }

  article {
    margin: 0;
  }

  article[aria-expanded='true'] {
    margin: 2rem 0;
  }

  a.show {
    display: block;
    margin: 1rem 0;
  }
</style>

<article
  aria-expanded={expanded && object.slug === expanded.slug ? 'true' : 'false'}
  bind:this={article}>
  <h2>
    <a sapper:noscroll rel="prefetch" href={`${feedUrl}/${object.slug}`}>
      {object.name}
    </a>
  </h2>
  <time datetime={object.published.toISOString()}>
    {object.published.toLocaleDateString()}
  </time>
  {#if object.summary}
    <summary>
      {@html object.summary}
    </summary>
  {/if}
  {#if expanded && object.slug === expanded.slug}
    <main>
      {@html expanded.content}
    </main>
  {/if}
  {#if object.tags}
    <TagList tags={object.tags} label={object.name} {feedUrl} />
  {/if}
</article>
