<script>
  import TagList from '../TagList.svelte';

  export let object;
  export let feedUrl;
</script>

<style>
  article > main {
    font-style: italic;
  }
</style>

<article>
  <time datetime={object.published.toISOString()}>
    {object.published.toLocaleDateString()}
  </time>
  <main>
    {@html object.content}
  </main>
  {#if object.tags}
    <TagList tags={object.tags} {feedUrl} />
  {/if}
</article>
