<script context="module">
  import { preload as preloadData } from '../../lib/client/items';

  export function preload({ params }) {
    return preloadData.call(this, params.slug).then((data) => ({
      data,
      slug: params.slug
    }));
  }
</script>

<script>
  import FeedList from '../../components/FeedList.svelte';
  import { subscribe } from '../../lib/client/items';

  export let data;
  export let slug;

  subscribe((newData) => (data = newData), slug, data);
</script>

<svelte:head>
  <title>{data.expanded.title}</title>
  {#if data.expanded?.keywords}
    <meta name="keywords" content={data.expanded.keywords} />
  {/if}
  {#if data.expanded?.description}
    <meta name="description" content={data.expanded.description} />
  {/if}
</svelte:head>

<FeedList {data} />
