<script context="module">
  import { preload as preloadData } from '../../lib/client/items';

  /**
   * Sapper page preload function
   */
  export function preload({ query }) {
    return preloadData.call(this).then((data) => ({
      data,
      tag: query.tag
    }));
  }
</script>

<script>
  import FeedList from '../../components/FeedList.svelte';
  import { subscribe } from '../../lib/client/items';

  export let data;
  export let tag;

  subscribe((newData) => (data = newData), null, data);
</script>

<FeedList {data} {tag} />
