<script context="module">
  import { preload as preloadData } from '../../../lib/admin/items';

  /**
   * Sapper page preload function
   */
  export function preload({ params, query }) {
    return preloadData.call(this, params.slug).then((data) => ({
      data,
      slug: params.slug,
      tag: query.tag
    }));
  }
</script>

<script>
  import AdminFeedList from '../../../components/admin/FeedList.svelte';
  import { subscribe } from '../../../lib/client/items';

  export let data;
  export let slug;
  export let tag;

  subscribe((newData) => (data = newData), slug, data);
</script>

<svelte:head>
  <title>{data.expanded.title}</title>
  {#if data.expanded?.keywords}
    <meta name="keywords" content={data.expanded.keywords} />
  {/if}
  {#if data.expanded?.description}
    <meta name="description" content={data.expanded.description} />
  {/if}
</svelte:head>

<AdminFeedList {data} {tag} />
