<script context="module">
  import { preload as preloadData } from '../../../lib/admin/items';

  /**
   * Sapper page preload function
   */
  export function preload({ query }) {
    return preloadData.call(this).then((data) => ({
      data,
      tag: query.tag
    }));
  }
</script>

<script>
  import AdminFeedList from '../../../components/admin/FeedList.svelte';
  import { subscribe } from '../../../lib/admin/items';

  export let data;
  export let tag;

  subscribe(null, data);
</script>

<AdminFeedList {data} {tag} />
