<script>
  import FeedList from '../FeedList.svelte';
  import TextEditor from './TextEditor.svelte';
  import TagsEditor from './TagsEditor.svelte';

  export let data;
  export let tag = null;

  let item;
  let error;
  let createdSlug;

  const newItem = () => {
    item = {
      type: 'Note',
      content: null,
      published: null,
      tags: null
    };
  };
  newItem();

  const clean = ['published', 'tags'];
  const save = () => {
    clean.forEach((value) => {
      if (!item[value]) {
        delete item[value];
      }
    });

    const options = {
      method: 'PUT',
      headers: {
        'content-type': 'application/json'
      },
      body: JSON.stringify(item)
    };
    let url = 'admin/object';

    fetch(url, options).then((response) => {
      createdSlug = null;
      error = null;
      if (response.status !== 201) {
        error = 'There has been an error saving: ' + response.statusText;
        return;
      }

      if (response.headers.get('content-type') === 'application/json') {
        response.json().then((data) => {
          createdSlug = data.slug;
          newItem();
        });
      }
    });
  };

  const del = (item) => {
    if (
      confirm(
        'Are you sure you want to delete the ' +
          item.type.toLowerCase() +
          ' ' +
          (item.name || item.slug) +
          '?'
      )
    ) {
      data.delete(item.slug);
    }

    if (event) {
      event.preventDefault();
    }
  };
</script>

<style>
  :global([slot='footer']) {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
  }

  .new {
    padding: 0 1rem;
    margin-bottom: 1rem;
  }

  label {
    display: block;
    margin: 0.5rem 0;
  }

  summary {
    cursor: pointer;
  }
</style>

<div class="new">
  <a href="admin/c/edit/_new">Create a new Article</a>
  <details>
    <summary>New note</summary>
    <label>
      Type:
      <select bind:value={item.type}>
        <option>Note</option>
      </select>
    </label>

    <label>
      Tags:
      <TagsEditor bind:value={item.tags} />
    </label>

    <label>
      Published:
      <input type="datetime-local" bind:value={item.published} />
    </label>

    <div>
      Content:
      <TextEditor bind:value={item.content} />
    </div>

    <button on:click={save}>Save</button>
  </details>
</div>

<FeedList {data} {tag} feedUrl="admin/c">
  <div slot="header" let:prop={item}>
    {#if item.draft}DRAFT{/if}
  </div>
  <div slot="footer" let:prop={item} class="adminLinks">
    {#if item.type === 'Article'}
      <a href="admin/c/edit/{item.slug}">Edit</a>
      <a href="admin/c" on:click={(event) => del(item, event)}>Delete</a>
    {/if}
  </div>
</FeedList>
