<script>
  export let value;

  const updateTag = (event) => {
    value = event.target.value
      ? event.target.value.replace(/, *$/, '').split(/, */)
      : null;
  };
</script>

<input value={(value && value.join(', ')) || ''} on:input={updateTag} />
