<script>
  import { CodeJar } from '../../lib/admin/codejar.js';
  import { onMount } from 'svelte';

  const replacer = (code) => {
    // Extracted from twitchdown
    const tokenizer = new RegExp(
      '(^``` *(?:\\w*)\\n(?:[\\s\\S]*?)\\n```$)|' + // Code blocks (1)
        '(^(?:[^\\s].*)\\n(-{3,}|={3,})$)|' + // Underlined Headings (2,3)
        '(^(#{1,6})\\s*.+$)|' + // #Headings (4,5)
        '(`(?:[^`].*?)`)|' + // Inline code (6)
        '(__|\\*\\*|[_*]|~~)', // Formatters (7)
      'gm'
    );

    let highlighted = '';
    let last = 0;
    let prev;
    let chunk;
    let token;
    const tags = [];

    const tag = (tag) => {
      if (!tags.length || tags[tags.length - 1].tag !== tag) {
        tags.push({
          tag,
          index: highlighted.length
        });
        return tag;
      } else {
        const start = tags.pop();
        if (tag === '*' || tag === '_') {
          tag = 'em';
        } else if (tag === '**' || tag === '__') {
          tag = 'strong';
        } else {
          return tag;
        }

        highlighted =
          highlighted.slice(0, start.index) +
          '<' +
          tag +
          '>' +
          highlighted.slice(start.index);
        return start.tag + '</' + tag + '>';
      }
    };

    while ((token = tokenizer.exec(code))) {
      highlighted += code.substring(last, token.index);
      last = tokenizer.lastIndex;
      chunk = token[0];

      if (prev && prev.match(/[^\\](\\\\)*\\$/)) {
        // escaped
      } else if (token[1]) {
        // Code block
        chunk = '<div class="code">' + token[1] + '</div>';
      } else if (token[2]) {
        // Underlined title
        if (token[3][0] === '=') {
          chunk = '<font class="h1">' + token[3] + '</font>';
        } else {
          chunk = '<font class="h1">' + token[3] + '</font>';
        }
      } else if (token[4]) {
        // Hashed title
        chunk =
          '<font class="h' + token[5].length + '">' + token[4] + '</font>';
      } else if (token[6]) {
        // Inline code
        chunk = '<font class="code">' + token[6] + '</font>';
      } else if (token[7]) {
        // Tag
        chunk = tag(token[7]);
      }

      if (chunk) {
        highlighted += chunk;
      }
    }

    highlighted += code.slice(last);

    return highlighted;
  };

  const escapeHtml = (unsafe) =>
    unsafe
      .replace(/&/g, '&amp;')
      .replace(/</g, '&lt;')
      .replace(/>/g, '&gt;')
      .replace(/"/g, '&quot;')
      .replace(/'/g, '&#039;');

  const highlight = () => {
    let code = editor.textContent;
    value = code;
    editor.innerHTML = replacer(escapeHtml(value));
  };

  export let editor;
  export let value;

  $: {
    if (codejar && value !== editor.textContent) {
      codejar.updateCode(value);
    }
  }

  let codejar;

  onMount(() => {
    if (value) {
      editor.innerHTML = replacer(escapeHtml(value));
    }
    codejar = CodeJar(editor, highlight, {
      spellcheck: true,
      addClosing: false
    });
  });
</script>

<style>
  div.editor {
    border: solid 1px;
    padding: 1rem;
    font-family: monospace;
    min-height: 100px;
    white-space: pre-wrap;
  }

  div.editor :global(.h1),
  div.editor :global(.h2),
  div.editor :global(.h3),
  div.editor :global(.h4),
  div.editor :global(.h5) {
    font-weight: bold;
  }

  div.editor :global(.h1) {
    font-size: 1.5rem;
  }

  div.editor :global(.h2) {
    font-size: 1.4rem;
  }

  div.editor :global(.h3) {
    font-size: 1.3rem;
  }

  div.editor :global(.h4) {
    font-size: 1.2rem;
  }

  div.editor :global(.h5) {
    font-size: 1.1rem;
  }

  div.editor :global(.code) {
    background: #eee;
  }
</style>

<div class="editor contentEditor" bind:this={editor} />
