<script context="module">
  /**
   * Preload page JSON from database
   */
  export function preload({ params }) {
    if (params.page === '_new') {
      return { slug: params.page };
    }
    return this.fetch(`admin/pages/edit/${params.page}.json`)
      .then((response) => {
        return response.json().then((data) => {
          if (response.status === 200) {
            return {
              slug: params.page,
              page: data
            };
          }

          this.error(response.status, data.message);
        });
      })
      .catch((error) => this.error(error));
  }
</script>

<script>
  import TextEditor from '../../../../components/admin/TextEditor.svelte';
  import { goto } from '@sapper/app';

  export let page;
  export let slug;

  let error = null;
  let createdSlug = null;

  const newPage = () => {
    page = {
      _id: '',
      title: '',
      draft: false,
      public: true,
      content: ''
    };
  };

  if (!page) {
    newPage();
  }

  const save = () => {
    const errors = [];
    if (!page._id) {
      errors.push('A slug must be given');

      return;
    }

    if (!page.title) {
      errors.push('A title must be given');
    }

    if (!page.content) {
      errors.push('There must be some page content');
    }

    if (errors.length) {
      error = `Please fix the following errors: ${errors.join('; ')}`;
      return;
    }

    const options = {
      method: 'PATCH',
      headers: {
        'content-type': 'application/json'
      },
      body: JSON.stringify(page)
    };

    let url = `admin/pages/${slug}`;

    if (slug === '_new') {
      options.method = 'PUT';
      url = 'admin/pages';
    }

    fetch(url, options).then((response) => {
      error = null;
      if (response.status < 200 || response.status >= 300) {
        error = 'There has been an error saving: ' + response.statusText;
        return;
      }

      if (response.headers.get('content-type') === 'application/json') {
        response.json().then((data) => {
          if (slug === '_new') {
            createdSlug = data.slug;
            newPage();
          } else {
            goto(`admin/pages/${slug}`);
          }
        });
      }
    });
  };
</script>

<style>
  label {
    display: block;
  }
</style>

<svelte:head>
  <title>{slug === '_new' ? 'Create Page' : `Edit Page ${page.title}`}</title>
</svelte:head>

<h1>{slug === '_new' ? 'Create Page' : `Edit Page ${page.title}`}</h1>

<label> Slug: <input bind:value={page._id} /> </label>

<label> Title: <input bind:value={page.title} /> </label>

<label> Draft: <input type="checkbox" bind:checked={page.draft} /> </label>

<label> Public: <input type="checkbox" bind:checked={page.public} /> </label>

<div>
  Content:
  <TextEditor bind:value={page.content} />
</div>

{#if error}
  <div class="error">{error}</div>
{/if}

{#if createdSlug}
  <div class="success">
    Last page ({createdSlug}) created successfully.
    <a href="admin/pages/{createdSlug}">View</a>
    <a href="admin/pages/edit/{createdSlug}">Continue editing</a>
  </div>
{/if}

<button on:click={save}>Save</button>
