<script>
  import Note from './objects/Note.svelte';
  import Article from './objects/Article.svelte';
  import { onDestroy, onMount } from 'svelte';

  export let data;
  export let feedUrl = 'c';
  export let tag = null;

  let over;
  let items = null;

  const checkOver = () => {
    if (data.expanded) {
      const el = document.getElementById(data.expanded.slug);

      if (el) {
        const rect = el.getBoundingClientRect();

        over = !(
          rect.bottom < (window.innerHeight * 2) / 3 ||
          rect.top > window.innerHeight / 3
        );
      }
    }
  };

  const scrollHandler = () => {
    if (timeout === null) {
      timeout = setTimeout(() => {
        checkOver();
        timeout = null;
      }, 500);
    }
  };

  let timeout = null;

  $: {
    if (tag) {
      items = data.items.filter((item) => item.tags?.includes(tag));
    } else {
      items = data.items || (data.expanded ? [data.expanded] : null);
    }
  }

  onMount(() => {
    window.addEventListener('scroll', scrollHandler);
  });

  onDestroy(() => {
    if (typeof window !== 'undefined') {
      window.removeEventListener('scroll', scrollHandler);
    }
  });
</script>

<style>
  ul {
    margin: 0 0 1em 0;
    padding: 0;
    line-height: 1.5;
  }

  li {
    list-style: none;
    padding: 0.2rem 1.5rem 0.2rem 1rem;
    border-right: solid 3px var(--default-0);
    margin: 5px 0;
  }

  ul :global(article) {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

  ul.over-article :global(article:not([aria-expanded='true'])) {
    opacity: 0.4;
  }
</style>

<svelte:head>
  <title>{data.expanded ? data.expanded.name : 'Posts'} @ bytes.nz</title>
</svelte:head>

{#if data.added}
  <div>{data.added} new items have been posted</div>
{/if}
{#if items}
  <ul
    class={'feedList' + (over ? ' over-article' : '')}
    aria-label="Posts collection">
    {#each items || [data.expanded] as item}
      <!-- we're using the non-standard `rel=prefetch` attribute to
          tell Sapper to load the data for the page as soon as
          the user hovers over the link or taps it, instead of
          waiting for the 'click' event -->
      <li class={item.tags ? item.tags.join(' ') : ''} id={item.slug}>
        <slot name="header" prop={item} />
        {#if item.type === 'Article'}
          <Article
            object={item}
            {tag}
            expanded={data.expanded && data.expanded.slug == item.slug ? data.expanded : null}
            {feedUrl} />
        {:else if item.type === 'Note'}
          <Note object={item} {feedUrl} />
        {/if}
        <slot name="footer" prop={item} />
      </li>
    {/each}
  </ul>
{:else}
  <div>No items in the collection</div>
{/if}
