<script>
  import Icon from './Icon.svelte';

  let showFooter = false;

  export let config;

  let toggleFooter = () => {
    showFooter = !showFooter;
  };
</script>

<style>
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #000;
    background: var(--theme-2-3);
    color: #fff;
    color: var(--theme-2-2);
    padding: 0.5rem;
    border-top-right-radius: 23px;
    border-top-left-radius: 5px;
  }

  div {
    display: none;
    padding: 0 3rem;
    font-size: 0.8rem;
  }

  footer.expanded {
    right: 0;
  }

  footer.expanded div {
    display: block;
  }

  .contact {
    text-align: right;
    font-size: 1rem;
  }

  .contact a {
    margin: 0 0.1rem;
    color: var(--theme-2-1);
  }

  .contact a:hover {
    color: var(--theme-2-2);
  }

  object {
    width: 80px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1;
  }

  @media (max-width: 950px) {
    object {
      display: none;
    }
  }

  @media (min-width: 950px) {
    footer.expanded {
      padding-right: 90px;
    }
  }

  button {
    float: left;
    background: none;
    border: none;
    padding: 0;
    color: inherit;
    color: var(--theme-2-1);
  }

  button:hover {
    color: var(--theme-2-2);
  }
</style>

<object
  title="BytesNZ logo"
  aria-label="Bytes En Zed Logo"
  data="bytesnz.svg"
  width="150"
  type="image/svg+xml" />
<footer class={showFooter ? 'expanded' : ''}>
  <button on:click={toggleFooter} title="{showFooter ? 'Hide' : 'Show'} footer">
    <Icon size="double" icon="footer" />
  </button>
  <div accesskey="6">
    Copyright
    <span aria-label="Bytes En Zed">BytesNZ</span>
    {new Date().getFullYear()}. Powered by
    <a target="_blank" rel="noopener" href="https://sapper.svelte.dev">
      Sapper
    </a>
  </div>
  {#if config && config.contactLinks}
    <div class="contact" accesskey="9">
      {#each config.contactLinks as item}
        <a
          rel="me noopener"
          target="_blank"
          href={item.href}
          aria-label={item.ariaLabel}
          title={item.title}>
          {#if item.icon}
            <Icon icon={item.icon} label={item.iconLabel} />
          {:else if item.text}
            <span aria-label={item.textLabel}>{item.text}</span>
          {/if}
        </a>
      {/each}
    </div>
  {/if}
</footer>
