<script>
  export let segment;
  export let config;
</script>

<style>
  header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    background: #fff;
    background: var(--background);
  }

  h1 {
    color: var(--theme-1-0);
    padding: 0.3rem 2% 0 2%;
    margin: 0;
    font-size: 1.3rem;
  }

  h1 > div {
    font-size: 1rem;
    font-weight: normal;
    padding: 0 4%;
    color: var(--theme-3-0);
    font-size: 0.8rem;
    margin-bottom: 0 0 0.6rem 0;
  }

  nav {
    font-weight: 300;
    padding: 0 1em;
    position: absolute;
    top: 0.3rem;
    right: 1rem;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  /* clearfix */
  ul::after {
    content: '';
    display: block;
    clear: both;
  }

  li {
    display: block;
    float: left;
  }

  [aria-current] {
    position: relative;
    display: inline-block;
  }

  [aria-current]::after {
    position: absolute;
    content: '';
    width: calc(100% - 1em);
    height: 2px;
    background-color: #000;
    background-color: var(--theme-1-0);
    display: block;
    bottom: -1px;
  }

  a {
    text-decoration: none;
    padding: 0.7em 0.5em;
    display: block;
  }
</style>

<header id="header">
  <h1>
    <span aria-label="Bytes En Zed.">@bytesnz</span>
    <div role="doc-subtitle">Jack Farley, Computer Engineer</div>
  </h1>
  <nav aria-label="Main Navigation">
    {#if config && config.menu}
      <ul>
        {#each config.menu as item}
          <li>
            {#if item.href.match(/^http/)}
              <a target="_blank" rel="noopener" href={item.href}>
                {item.label}
              </a>
            {:else}
              <a
                rel="prefetch"
                aria-current={segment === item.href ? 'page' : undefined}
                href={item.href}>
                {item.label}
              </a>
            {/if}
          </li>
        {/each}
      </ul>
    {/if}
  </nav>
</header>
