<script>
  export let icon;
  export let label;
  export let size;
  export let classes = '';

  const others = {
    ...$$props,
    icon: undefined,
    label: undefined,
    size: undefined,
    classes: undefined
  };

  const getSize = () => {
    if (size === 'double') {
      return '2em';
    } else if (size) {
      return size;
    } else {
      return '1em';
    }
  };
</script>

<style>
  [class^='icon-'],
  [class*=' icon-'] {
    /*XXX float: left;*/
    fill: currentColor;
    vertical-align: middle;
  }
</style>

<svg
  class="icon-{icon}
  {classes}"
  width="12"
  height="12"
  style="height: {getSize()}; width: {getSize()}"
  aria-label={label}
  {...others}>
  <use xlink:href="#icon-{icon}" />
</svg>
