<script>
  import Icon from './Icon.svelte';

  export let tags;
  export let feedUrl;
  export let label;
</script>

{#if tags}
  <div class="tags">
    <Icon icon="tags" aria-hidden="true" />
    <ul aria-label="{label ? label + ' ' : ''}Tags">
      {#if tags}
        {#each tags as tag}
          <li><a href="{feedUrl}?tag={tag}">{tag}</a></li>
        {/each}
      {/if}
    </ul>
  </div>
{/if}
