:root {
  --background: #fff;
  --color: #333;

  --code-background: #f9f9f9;
  --code-color: #555;

  --theme-1-0: #808080;
  --theme-1-1: #e8e8e8;
  --theme-1-2: #ffffff;
  --theme-1-3: #303030;
  --theme-1-4: #030303;

  --theme-2-0: #808080;
  --theme-2-1: #e8e8e8;
  --theme-2-2: #ffffff;
  --theme-2-3: #303030;
  --theme-2-4: #030303;

  --theme-3-0: #808080;
  --theme-3-1: #e8e8e8;
  --theme-3-2: #ffffff;
  --theme-3-3: #303030;
  --theme-3-4: #030303;

  --default-0: #808080;
  --default-1: #e8e8e8;
  --default-2: #ffffff;
  --default-3: #303030;
  --default-4: #030303;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --color: #ccc;

    --code-background: #171717;
    --code-color: #ccc;
  }
}

html,
body {
  background: #fff;
  background: var(--background);
  color: #333;
  color: var(--color);
}

body {
  margin: 4rem 0 0 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
}

main {
  padding: 0.8rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 1.6em;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: 0.9em;
  background: #f9f9f9;
  background: var(--code-background);
  color: #555;
  color: var(--code-color);
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

pre > code {
  display: block;
  overflow-x: auto;
}

pre.shell > code {
  user-select: none;
}

pre.shell .bash {
  user-select: text;
}

pre.shell .hljs-comment {
  user-select: none;
}

pre {
  white-space: pre-wrap;
}

article {
  margin: 0.5rem 0;
}

article a {
  text-decoration: underline;
}

article h3 {
  font-size: 1.5rem;
}

article h4 {
  font-size: 1.4rem;
}

article h5 {
  font-size: 1.3rem;
}

article > h2 a {
  text-decoration: none;
}

article > time {
  display: block;
  text-align: right;
  font-size: 0.8rem;
  opacity: 0.7;
}

article > .tags {
  margin: 0.5rem 0.5rem 0.5rem 2.7rem;
  font-size: 0.8rem;
  line-height: 1;
  opacity: 0.7;
}

article > .tags ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}

article > .tags li {
  list-style: none;
  display: inline-block;
}

article > .tags svg {
  margin-left: -1.2rem;
}

article > .tags a {
  margin-left: 0.8rem;
  display: inline-block;
  text-decoration: none;
}

article > main {
  padding: 0;
}

article img {
  max-width: 100%;
  height: auto;
}

article figure {
  margin: 2rem 0;
}

article figcaption {
  font-style: italic;
  font-size: 0.9rem;
}

.feedList li.software {
  border-right-color: var(--theme-1-0);
}

.feedList li.software a {
  color: var(--theme-1-0);
}

.feedList li.electronics {
  border-right-color: var(--theme-3-0);
}

.feedList li.electronics a {
  color: var(--theme-3-0);
}

.feedList li.environment {
  border-right-color: var(--theme-2-0);
}

.feedList li.environment a {
  color: var(--theme-2-0);
}
